/* The Scream */
h2{

position: absolute;
left: 39.91%;
right: 49.38%;
top: 70.83%;
bottom: 25.24%;

font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 29px;

margin-bottom: 25%;

color: #000000;


}

/* Edvard Munch, 1889, Proto-Expressionism */

h3{
position: absolute;
left: 39.99%;
right: 37.51%;
top: 74.76%;
bottom: 17.23%;

font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 16px;
line-height: 20px;

margin: 100px,0px,75px;


color: #000000;
}

/* Your Spotify Gallery Piece: */

h1{
position: absolute;
left: 38.67%;
right: 38.6%;
top: 10.85%;
bottom: 85.21%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;


}

/* thescream 1 */


position: absolute;
width: 244px;
height: 368px;
left: 590px;
top: 209px;

background: url(thescream.jpg);


/* resultFrame 1 */


position: absolute;
width: 368px;
height: 495px;
left: 536px;
top: 156px;

background: url(resultFrame.png);
