body{
  background-color: #F5F2F2;
 }

@font-face { font-family: Historia Beralin; src: url('HistoraBeralin-vmV9O.otf'); } 
/*" Welcome to Spotify Gallery"*/
 h1{ 
/* Welcome to your Spotify Gallery */


position: absolute;
left: 14.2%;
right: 37.07%;
top: 20.62%;
bottom: 56.04%;

font-family: 'Historia Beralin';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

margin: 25px 0px 75px;

}

/* a bunch of rando wors to say yay yaa bunch of rando wors to say yay yaa bunch of rando wors to say yay ya */
h2{

position: absolute;
left: 14.2%;
right: 48.07%;
top: 47.76%;
bottom: 38.13%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

margin: 25px 0px 75px;
 


}
/*gold frame*/

.square{

position: absolute;
width: 90%;
height: 87%;
left: 5%;
top: 5%;

border: 3px solid #D8B447;

}



/* connect spotify  */

button {
box-sizing: border-box;


position: absolute;
left: 14.2%;
right: 65.7%;
top: 69.62%;
bottom: 23.47%;

border: 1px solid #000000;


font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;



}
