<!DOCTYPE html>

<html>
<head>

<title>searchPage</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}">

</head>
<body>

<h1>Type in a playlist url!</h1>

<h2>*Careful! We are case sensitive...*</h2>

<div class="square"></div>

  <form autocomplete = "off" method = "POST" action = "/search"> 
    <input type = "reset" value = "reset">
    <p><input type = "text" name = "Search" id = "Search" /></p>
    <script>
      // Get the input field
      var input = document.getElementById("Search");

      // Execute a function when the user presses a key on the keyboard
      input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          document.getElementById("button").click();
        }
      });
    </script>
    <button type = "submit" id="button" onclick="document.location='/search'">search</button>
  </form>


</body>
</html>
