<!DOCTYPE html>

<html>
<head>

<title>searchPage</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="loginStyle.css">

</head>
<body>

<h1>Type in a playlist!</h1>

<h2>*Careful! We are case sensitive...</h2>

<div class="square"></div>

 <form> 
 	 <input type="text" id="playlist" name="playlist"><br>

      <button type="button" onclick="document.location='resultPage.html'">search</button>
    </form>


</body>
</html>
