<!DOCTYPE html>

<html>
<head>

<title>searchPage</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}">

</head>
<body>

<h1>Type in a playlist!</h1>

<h2>*Careful! We are case sensitive...</h2>

<div class="square"></div>

 <form method = "post" action = "/"> 
    {% if auth_url%}
      <button type="button" onclick="document.location='/result'">log in</button>
    {% endif %}
  </form>


</body>
</html>
